body {
    background-color: #092450;
    color: rgb(228, 228, 228);
    padding: 10px;
    max-width: 720px;
}

h1 {
    color: rgb(228, 228, 228);
    font-family: sans-serif
}

footer {
    background-color: #154085;
    color: rgb(228, 228, 228);
    padding: 15px;
    margin-top: 50px;
}

.page {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    align-items: center;
}